
#page {
    background: url('../images/custom/custom-combined-repeated.png') 0px -236px repeat-x #00274c;
    padding: 20px;
    margin: unset;
}

#spwpmainbackground-body img {
        height: 75%;
}

#custom-header-logo {
    max-width: 100%;
    max-height: 50px;
    vertical-align: middle;
}

@media screen and (max-width: 1199px) {
  #custom-header-logo {
    border: none;
    max-width: 100%;
    max-height: 35px;
  }
}
@media screen and (max-width: 767px) {
  #custom-header-logo {
    text-align: center;
  }
  .header-wrap .header-logo img {
    max-width: 100%;
    max-height: 35px;
  }
}